# Tables, csv-files and shape-files for the manuscript

Author: Thiago Nascimento (thiago.nascimento@eawag.ch)

This notebook is part of the EStreams publication and was used to pre-process and derive tables and files for the manuscript. 

* Note that this code enables not only the replicability of the current database but also the extrapolation to new catchment areas. 
* Additionally, the user should download and insert the original raw-data in the folder of the same name prior to run this code. 
* The original third-party data used were not made avaialble in this repository due to redistribution and storage-space reasons.  

## Requirements
**Python:**

* Python>=3.6
* Jupyter
* Geopandas=0.10.2
* Pandas
* tqdm

Check the Github repository for an environment.yml (for conda environments) or requirements.txt (pip) file.

**Files:**

* Daily streamflow measurements. 

**Directory:**

* Clone the GitHub directory locally
* Place any third-data variables in their respective directory.
* ONLY update the "PATH" variable in the section "Configurations", with their relative path to the EStreams directory.

# Import modules

In [24]:
import pandas as pd
import numpy as np
import datetime
import tqdm as tqdm
import os
import geopandas as gpd
from utils.general import *

# Configurations

In [25]:
# Only editable variable:
PATH = r"/Users/thiagomedeirosdonascimento/Library/CloudStorage/OneDrive-Personal/PhD/Eawag/Papers/Paper1_Database/Paper"

* #### The users should NOT change anything in the code below here.

In [26]:
PATH_OUTPUT = "results/"

# Set the directory:
os.chdir(PATH)

# Import data
## Catchment boundaries

In [58]:
catchment_boundaries = gpd.read_file('data/shapefiles/estreams_catchments.shp')
catchment_boundaries

,id,area_km2,outlet_lat,outlet_lng,area_offic,area_calc,Code,basin_id,label_area,name,layer,path,geometry
0,DE01945,"144,000",50.937000,6.963000,144232,144432.885,DE01945,DE01945,0,BundespegelKoeln,None,None,"POLYGON Z ((7.96208 46.53708 0.00000, 7.96625 ..."
1,DE01946,"148,000",51.226000,6.770000,147680,147934.665,DE01946,DE01946,0,BundespegelDuesseldorf,None,None,"POLYGON Z ((7.96208 46.53708 0.00000, 7.96625 ..."
2,DE01947,"144,000",50.937000,6.963000,144232,144432.885,DE01947,DE01947,0,BundespegelKoeln,None,None,"POLYGON Z ((7.96208 46.53708 0.00000, 7.96625 ..."
3,DE01948,"148,000",51.226000,6.770000,147680,147934.665,DE01948,DE01948,0,BundespegelDuesseldorf,None,None,"POLYGON Z ((7.96208 46.53708 0.00000, 7.96625 ..."
4,DE01949,"159,000",51.757000,6.395000,159300,159352.653,DE01949,DE01949,0,BundespegelRees,None,None,"POLYGON Z ((7.96208 46.53708 0.00000, 7.96625 ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
15009,NL00015,148,51.812000,4.566000,None,148.000,NL00015,NL00015,888,Puttershoek,Catchment_Boundaries_NL_Merge,C:\Users\nascimth\Documents\Thiago\Eawag\Pytho...,"POLYGON Z ((4.49041 51.82958 0.00000, 4.49041 ..."
15010,NL00016,9500,51.350000,4.251000,None,9500.000,NL00016,NL00016,4,Schaar van Ouden Doel,Catchment_Boundaries_NL_Merge,C:\Users\nascimth\Documents\Thiago\Eawag\Pytho...,"POLYGON Z ((4.18958 51.29875 0.00000, 4.18958 ..."
15011,NL00017,21300,50.830000,5.697000,None,21300.000,NL00017,NL00017,4,Sint Pieter noord,Catchment_Boundaries_NL_Merge,C:\Users\nascimth\Documents\Thiago\Eawag\Pytho...,"POLYGON Z ((4.45041 49.91875 0.00000, 4.45041 ..."
15012,NL00014,3229,52.342353,6.103294,None,3229.000,NL00014,NL00014,6,Olst,Catchment_Boundaries_NL_Merge,C:\Users\nascimth\Documents\Thiago\Eawag\Pytho...,"POLYGON Z ((6.60946 52.15346 0.00000, 6.60837 ..."
15013,CZ00451,314,49.231000,17.672000,312.69,314.118,CZ00451,CZ00451,0,ZlÃÂ­n+svod,None,None,"POLYGON Z ((17.67541 49.24125 0.00000, 17.6754..."

In [59]:
# Here we sort the index:
catchment_boundaries = catchment_boundaries.set_index("id", inplace=False).sort_index(axis=0)
catchment_boundaries

,area_km2,outlet_lat,outlet_lng,area_offic,area_calc,Code,basin_id,label_area,name,layer,path,geometry
id,,,,,,,,,,,,
AT00001,4668.378643009853,47.274,9.535,4647.9,4668.379,AT00001,AT00001,0,Bangs,None,None,"POLYGON Z ((9.69406 46.54322 0.00000, 9.69570 ..."
AT00002,102.28688127787842,47.080,9.914,102,102.287,AT00002,AT00002,0,Schruns (Vonbunweg),None,None,"POLYGON Z ((10.13650 47.02949 0.00000, 10.1349..."
AT00003,536.2985313168554,47.133,9.848,535.2,536.299,AT00003,AT00003,0,Loruens-Aeule,None,None,"POLYGON Z ((10.11095 46.89437 0.00000, 10.1122..."
AT00004,66.2856923321305,47.129,10.062,66.6,66.286,AT00004,AT00004,0,Kloesterle (OEBB),None,None,"POLYGON Z ((10.14189 47.09706 0.00000, 10.1404..."
AT00005,72.4477297164234,47.151,9.803,72.2,72.448,AT00005,AT00005,0,Buers (Bruecke L82),None,None,"POLYGON Z ((9.67851 47.06249 0.00000, 9.67888 ..."
...,...,...,...,...,...,...,...,...,...,...,...,...
UAGR017,325,44.692,33.895,321,325.370,UAGR017,UAGR017,0,6682300,None,None,"POLYGON Z ((33.96791 44.63291 0.00000, 33.9679..."
UAGR018,48,44.500,34.167,49.7,47.594,UAGR018,UAGR018,0,6682500,None,None,"POLYGON Z ((34.19958 44.58291 0.00000, 34.2029..."
UAGR019,245,44.888,34.200,261,244.731,UAGR019,UAGR019,1,6683010,None,None,"POLYGON Z ((34.19624 44.88375 0.00000, 34.1962..."
UAGR020,731,47.251,35.706,760,731.073,UAGR020,UAGR020,0,6683200,None,None,"POLYGON Z ((35.78708 47.28708 0.00000, 35.7870..."
UAGR021,600,48.153,38.145,582,599.600,UAGR021,UAGR021,0,6683300,None,None,"POLYGON Z ((38.10125 48.15791 0.00000, 38.1004..."

## Europe

In [72]:
shapefile_path = "data/shapefiles/europe.shp"
europe = gpd.read_file(shapefile_path)

## Daily streamflow time-series

In [27]:
timeseries_EU = pd.read_csv("data/streamflow/estreams_timeseries_streamflow.csv", index_col=0)
timeseries_EU.index = pd.to_datetime(timeseries_EU.index)
timeseries_EU.index.name = "dates"
timeseries_EU

,AT00001,AT00002,AT00003,AT00004,AT00005,AT00006,AT00007,AT00008,AT00009,AT00010,...,DE02101,DE02102,DE02103,DE02104,DE02105,DE02106,DE02107,DE02108,DE02109,DE02110
dates,,,,,,,,,,,,,,,,,,,,,
1900-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1900-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1900-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1900-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1900-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-12-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-12-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-12-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-12-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
# Replace any negative value by np.nan:
timeseries_EU = timeseries_EU.applymap(lambda x: np.nan if x < 0 else x)

## Streamflow gauges network

In [29]:
network_EU = pd.read_excel("data/streamflow/estreams_gauging_stations_infos.xlsx")
network_EU

,new_code,code,name,river,area,elev,lon,lat,country,degimpact,...,calc_Perc2,error_are2,xcoord_3,ycoord_3,manual_del,area_calc,area_calc_,area_calc_label,region,remark
0,ITVEN406,270VE,Adige a Albaredo,Adige,11954.0,23.59,11.266291,45.317948,IT,NaN,...,NaN,NaN,NaN,NaN,NaN,11938.762,0.0,0,NaN,NaN
1,ITVEN407,283VE,Brenta a Barzizza,Brenta,1567.0,105.38,11.730543,45.777415,IT,NaN,...,NaN,NaN,NaN,NaN,NaN,1571.329,0.0,0,NaN,NaN
2,ITVEN408,284VE,Adige a Boara Pisani,Adige,11954.0,8.4,11.784244,45.105481,IT,NaN,...,NaN,NaN,NaN,NaN,NaN,12020.860,0.0,0,NaN,NaN
3,ITVEN409,285VE,Tesina a Bolzano Vicentino,Tesina,694.0,37.57,11.620895,45.600894,IT,NaN,...,NaN,NaN,NaN,NaN,NaN,759.659,0.0,0,NaN,NaN
4,ITVEN410,286VE,Frassine a Borgofrassine,Frassine,NaN,16.69,11.481112,45.251409,IT,NaN,...,NaN,NaN,NaN,NaN,NaN,414.418,2.0,2,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15041,DE02106,5752400000,Hachelbich,Wipper,524.0,NaN,10.973000,51.347000,DE,NaN,...,NaN,NaN,NaN,NaN,NaN,524.000,0.0,0,TH,NaN
15042,DE02107,5752500000,Bleicherode,Bode,104.0,NaN,10.593000,51.450000,DE,NaN,...,NaN,NaN,NaN,NaN,NaN,104.000,0.0,0,TH,NaN
15043,DE02108,5754000000,Sundhausen,Helme,200.6,NaN,10.810000,51.468000,DE,NaN,...,NaN,NaN,NaN,NaN,NaN,200.000,0.0,0,TH,NaN
15044,DE02109,5755000000,Nordhausen,Zorge,303.6,NaN,10.784000,51.507000,DE,NaN,...,NaN,NaN,NaN,NaN,NaN,302.000,0.0,0,TH,NaN
15045,DE02110,5756600000,Ilfeld,Bere,62.3,NaN,10.786000,51.598000,DE,NaN,...,NaN,NaN,NaN,NaN,NaN,63.000,0.0,0,TH,NaN

In [30]:
network_EU.columns

Index(['new_code', 'code', 'name', 'river', 'area', 'elev', 'lon', 'lat',
       'country', 'degimpact', 'lake', 'num_reserv', 'RE', 'num_daily_',
       'num_years_', 'delete', 'calc_Perc_', 'xcoord', 'ycoord', 'xcoord_4',
       'ycoord_4', 'calc_area_', 'new_area', 'error_area', 'xcoord_2',
       'ycoord_2', 'new_area2', 'calc_Perc2', 'error_are2', 'xcoord_3',
       'ycoord_3', 'manual_del', 'area_calc', 'area_calc_', 'area_calc_label',
       'region', 'remark'],
      dtype='object')

In [31]:
network_EU[["new_code", "code"]]

       new_code        code
0      ITVEN406       270VE
1      ITVEN407       283VE
2      ITVEN408       284VE
3      ITVEN409       285VE
4      ITVEN410       286VE
...         ...         ...
15041   DE02106  5752400000
15042   DE02107  5752500000
15043   DE02108  5754000000
15044   DE02109  5755000000
15045   DE02110  5756600000

[15046 rows x 2 columns]

In [32]:
network_EU_net = network_EU[["new_code", "code", "name", "river", "xcoord_4", "ycoord_4", "lon", "lat",
                           "area", "elev", "country", "area_calc", "area_calc_label"]]

network_EU_net.columns = ["basin_id", "gauge_id", "gauge_name ", "river", "lon", "lat", "lon_r","lat_r", 
                          "area_r", "elevation", "country", "area_c", "area_flag"]

network_EU_net

,basin_id,gauge_id,gauge_name,river,lon,lat,lon_r,lat_r,area_r,elevation,country,area_c,area_flag
0,ITVEN406,270VE,Adige a Albaredo,Adige,11.266291,45.317948,11.266291,45.317948,11954.0,23.59,IT,11938.762,0
1,ITVEN407,283VE,Brenta a Barzizza,Brenta,11.730543,45.777415,11.730543,45.777415,1567.0,105.38,IT,1571.329,0
2,ITVEN408,284VE,Adige a Boara Pisani,Adige,11.784244,45.105481,11.784244,45.105481,11954.0,8.4,IT,12020.860,0
3,ITVEN409,285VE,Tesina a Bolzano Vicentino,Tesina,11.620895,45.600894,11.620895,45.600894,694.0,37.57,IT,759.659,0
4,ITVEN410,286VE,Frassine a Borgofrassine,Frassine,11.481112,45.251409,11.481112,45.251409,NaN,16.69,IT,414.418,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
15041,DE02106,5752400000,Hachelbich,Wipper,10.973000,51.347000,10.973000,51.347000,524.0,NaN,DE,524.000,0
15042,DE02107,5752500000,Bleicherode,Bode,10.593000,51.450000,10.593000,51.450000,104.0,NaN,DE,104.000,0
15043,DE02108,5754000000,Sundhausen,Helme,10.810000,51.468000,10.810000,51.468000,200.6,NaN,DE,200.000,0
15044,DE02109,5755000000,Nordhausen,Zorge,10.784000,51.507000,10.784000,51.507000,303.6,NaN,DE,302.000,0
15045,DE02110,5756600000,Ilfeld,Bere,10.786000,51.598000,10.786000,51.598000,62.3,NaN,DE,63.000,0

In [33]:
network_EU_net["area_perc"] = ((network_EU_net["area_r"] - network_EU_net["area_c"])/network_EU_net["area_r"])  * 100

In [34]:
network_EU_net

,basin_id,gauge_id,gauge_name,river,lon,lat,lon_r,lat_r,area_r,elevation,country,area_c,area_flag,area_perc
0,ITVEN406,270VE,Adige a Albaredo,Adige,11.266291,45.317948,11.266291,45.317948,11954.0,23.59,IT,11938.762,0,0.127472
1,ITVEN407,283VE,Brenta a Barzizza,Brenta,11.730543,45.777415,11.730543,45.777415,1567.0,105.38,IT,1571.329,0,-0.276260
2,ITVEN408,284VE,Adige a Boara Pisani,Adige,11.784244,45.105481,11.784244,45.105481,11954.0,8.4,IT,12020.860,0,-0.559311
3,ITVEN409,285VE,Tesina a Bolzano Vicentino,Tesina,11.620895,45.600894,11.620895,45.600894,694.0,37.57,IT,759.659,0,-9.460951
4,ITVEN410,286VE,Frassine a Borgofrassine,Frassine,11.481112,45.251409,11.481112,45.251409,NaN,16.69,IT,414.418,2,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15041,DE02106,5752400000,Hachelbich,Wipper,10.973000,51.347000,10.973000,51.347000,524.0,NaN,DE,524.000,0,0.000000
15042,DE02107,5752500000,Bleicherode,Bode,10.593000,51.450000,10.593000,51.450000,104.0,NaN,DE,104.000,0,0.000000
15043,DE02108,5754000000,Sundhausen,Helme,10.810000,51.468000,10.810000,51.468000,200.6,NaN,DE,200.000,0,0.299103
15044,DE02109,5755000000,Nordhausen,Zorge,10.784000,51.507000,10.784000,51.507000,303.6,NaN,DE,302.000,0,0.527009
15045,DE02110,5756600000,Ilfeld,Bere,10.786000,51.598000,10.786000,51.598000,62.3,NaN,DE,63.000,0,-1.123596

In [35]:
# Here we set the index:
network_EU_net.set_index("basin_id", inplace =True)
network_EU_net

,gauge_id,gauge_name,river,lon,lat,lon_r,lat_r,area_r,elevation,country,area_c,area_flag,area_perc
basin_id,,,,,,,,,,,,,
ITVEN406,270VE,Adige a Albaredo,Adige,11.266291,45.317948,11.266291,45.317948,11954.0,23.59,IT,11938.762,0,0.127472
ITVEN407,283VE,Brenta a Barzizza,Brenta,11.730543,45.777415,11.730543,45.777415,1567.0,105.38,IT,1571.329,0,-0.276260
ITVEN408,284VE,Adige a Boara Pisani,Adige,11.784244,45.105481,11.784244,45.105481,11954.0,8.4,IT,12020.860,0,-0.559311
ITVEN409,285VE,Tesina a Bolzano Vicentino,Tesina,11.620895,45.600894,11.620895,45.600894,694.0,37.57,IT,759.659,0,-9.460951
ITVEN410,286VE,Frassine a Borgofrassine,Frassine,11.481112,45.251409,11.481112,45.251409,NaN,16.69,IT,414.418,2,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
DE02106,5752400000,Hachelbich,Wipper,10.973000,51.347000,10.973000,51.347000,524.0,NaN,DE,524.000,0,0.000000
DE02107,5752500000,Bleicherode,Bode,10.593000,51.450000,10.593000,51.450000,104.0,NaN,DE,104.000,0,0.000000
DE02108,5754000000,Sundhausen,Helme,10.810000,51.468000,10.810000,51.468000,200.6,NaN,DE,200.000,0,0.299103
DE02109,5755000000,Nordhausen,Zorge,10.784000,51.507000,10.784000,51.507000,303.6,NaN,DE,302.000,0,0.527009
DE02110,5756600000,Ilfeld,Bere,10.786000,51.598000,10.786000,51.598000,62.3,NaN,DE,63.000,0,-1.123596

In [36]:
network_EU_net["start_date"] = find_first_non_nan_dates(timeseries_EU)
network_EU_net["end_date"] = find_last_non_nan_dates(timeseries_EU)

network_EU_net

,gauge_id,gauge_name,river,lon,lat,lon_r,lat_r,area_r,elevation,country,area_c,area_flag,area_perc,start_date,end_date
basin_id,,,,,,,,,,,,,,,
ITVEN406,270VE,Adige a Albaredo,Adige,11.266291,45.317948,11.266291,45.317948,11954.0,23.59,IT,11938.762,0,0.127472,2005-07-07,2022-12-31
ITVEN407,283VE,Brenta a Barzizza,Brenta,11.730543,45.777415,11.730543,45.777415,1567.0,105.38,IT,1571.329,0,-0.276260,2004-01-01,2022-12-31
ITVEN408,284VE,Adige a Boara Pisani,Adige,11.784244,45.105481,11.784244,45.105481,11954.0,8.4,IT,12020.860,0,-0.559311,2004-01-01,2022-12-31
ITVEN409,285VE,Tesina a Bolzano Vicentino,Tesina,11.620895,45.600894,11.620895,45.600894,694.0,37.57,IT,759.659,0,-9.460951,2004-01-01,2022-12-31
ITVEN410,286VE,Frassine a Borgofrassine,Frassine,11.481112,45.251409,11.481112,45.251409,NaN,16.69,IT,414.418,2,NaN,2012-11-11,2020-12-31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
DE02106,5752400000,Hachelbich,Wipper,10.973000,51.347000,10.973000,51.347000,524.0,NaN,DE,524.000,0,0.000000,1961-11-01,2021-12-31
DE02107,5752500000,Bleicherode,Bode,10.593000,51.450000,10.593000,51.450000,104.0,NaN,DE,104.000,0,0.000000,1951-11-01,2021-12-31
DE02108,5754000000,Sundhausen,Helme,10.810000,51.468000,10.810000,51.468000,200.6,NaN,DE,200.000,0,0.299103,1957-11-01,2021-12-31
DE02109,5755000000,Nordhausen,Zorge,10.784000,51.507000,10.784000,51.507000,303.6,NaN,DE,302.000,0,0.527009,1953-11-01,2021-12-31
DE02110,5756600000,Ilfeld,Bere,10.786000,51.598000,10.786000,51.598000,62.3,NaN,DE,63.000,0,-1.123596,1951-11-01,2021-12-31

In [37]:
# Number of measurements:
network_EU_net[["num_daily_obs", "num_monthly", "num_monthly_complete", "num_yearly", "num_yearly_complete"]] = count_num_measurements(timeseries = timeseries_EU)
network_EU_net.drop(["num_monthly_complete", "num_yearly_complete"], axis = 1, inplace = True)
network_EU_net

,gauge_id,gauge_name,river,lon,lat,lon_r,lat_r,area_r,elevation,country,area_c,area_flag,area_perc,start_date,end_date,num_daily_obs,num_monthly,num_yearly
basin_id,,,,,,,,,,,,,,,,,,
ITVEN406,270VE,Adige a Albaredo,Adige,11.266291,45.317948,11.266291,45.317948,11954.0,23.59,IT,11938.762,0,0.127472,2005-07-07,2022-12-31,6157,204,18
ITVEN407,283VE,Brenta a Barzizza,Brenta,11.730543,45.777415,11.730543,45.777415,1567.0,105.38,IT,1571.329,0,-0.276260,2004-01-01,2022-12-31,6918,228,19
ITVEN408,284VE,Adige a Boara Pisani,Adige,11.784244,45.105481,11.784244,45.105481,11954.0,8.4,IT,12020.860,0,-0.559311,2004-01-01,2022-12-31,6918,228,19
ITVEN409,285VE,Tesina a Bolzano Vicentino,Tesina,11.620895,45.600894,11.620895,45.600894,694.0,37.57,IT,759.659,0,-9.460951,2004-01-01,2022-12-31,6918,228,19
ITVEN410,286VE,Frassine a Borgofrassine,Frassine,11.481112,45.251409,11.481112,45.251409,NaN,16.69,IT,414.418,2,NaN,2012-11-11,2020-12-31,2945,98,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
DE02106,5752400000,Hachelbich,Wipper,10.973000,51.347000,10.973000,51.347000,524.0,NaN,DE,524.000,0,0.000000,1961-11-01,2021-12-31,21976,722,61
DE02107,5752500000,Bleicherode,Bode,10.593000,51.450000,10.593000,51.450000,104.0,NaN,DE,104.000,0,0.000000,1951-11-01,2021-12-31,25629,842,71
DE02108,5754000000,Sundhausen,Helme,10.810000,51.468000,10.810000,51.468000,200.6,NaN,DE,200.000,0,0.299103,1957-11-01,2021-12-31,23437,770,65
DE02109,5755000000,Nordhausen,Zorge,10.784000,51.507000,10.784000,51.507000,303.6,NaN,DE,302.000,0,0.527009,1953-11-01,2021-12-31,24891,818,69
DE02110,5756600000,Ilfeld,Bere,10.786000,51.598000,10.786000,51.598000,62.3,NaN,DE,63.000,0,-1.123596,1951-11-01,2021-12-31,25629,842,71

In [38]:
# Calculate the number of gaps:
network_EU_net["num_days_gaps"] = ((network_EU_net['end_date'] - network_EU_net['start_date']).dt.days + 1) - network_EU_net['num_daily_obs']
network_EU_net

,gauge_id,gauge_name,river,lon,lat,lon_r,lat_r,area_r,elevation,country,area_c,area_flag,area_perc,start_date,end_date,num_daily_obs,num_monthly,num_yearly,num_days_gaps
basin_id,,,,,,,,,,,,,,,,,,,
ITVEN406,270VE,Adige a Albaredo,Adige,11.266291,45.317948,11.266291,45.317948,11954.0,23.59,IT,11938.762,0,0.127472,2005-07-07,2022-12-31,6157,204,18,230.0
ITVEN407,283VE,Brenta a Barzizza,Brenta,11.730543,45.777415,11.730543,45.777415,1567.0,105.38,IT,1571.329,0,-0.276260,2004-01-01,2022-12-31,6918,228,19,22.0
ITVEN408,284VE,Adige a Boara Pisani,Adige,11.784244,45.105481,11.784244,45.105481,11954.0,8.4,IT,12020.860,0,-0.559311,2004-01-01,2022-12-31,6918,228,19,22.0
ITVEN409,285VE,Tesina a Bolzano Vicentino,Tesina,11.620895,45.600894,11.620895,45.600894,694.0,37.57,IT,759.659,0,-9.460951,2004-01-01,2022-12-31,6918,228,19,22.0
ITVEN410,286VE,Frassine a Borgofrassine,Frassine,11.481112,45.251409,11.481112,45.251409,NaN,16.69,IT,414.418,2,NaN,2012-11-11,2020-12-31,2945,98,9,28.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
DE02106,5752400000,Hachelbich,Wipper,10.973000,51.347000,10.973000,51.347000,524.0,NaN,DE,524.000,0,0.000000,1961-11-01,2021-12-31,21976,722,61,0.0
DE02107,5752500000,Bleicherode,Bode,10.593000,51.450000,10.593000,51.450000,104.0,NaN,DE,104.000,0,0.000000,1951-11-01,2021-12-31,25629,842,71,0.0
DE02108,5754000000,Sundhausen,Helme,10.810000,51.468000,10.810000,51.468000,200.6,NaN,DE,200.000,0,0.299103,1957-11-01,2021-12-31,23437,770,65,0.0
DE02109,5755000000,Nordhausen,Zorge,10.784000,51.507000,10.784000,51.507000,303.6,NaN,DE,302.000,0,0.527009,1953-11-01,2021-12-31,24891,818,69,7.0
DE02110,5756600000,Ilfeld,Bere,10.786000,51.598000,10.786000,51.598000,62.3,NaN,DE,63.000,0,-1.123596,1951-11-01,2021-12-31,25629,842,71,0.0

In [39]:
# Here we compute the longest period with continuous measurements:
longest_gap_periods = longest_continuous_period(timeseries = timeseries_EU)

100%|█████████████████████████████████████| 15046/15046 [02:48<00:00, 89.56it/s]

In [40]:
network_EU_net[["num_continuous_days"]] = longest_gap_periods

In [41]:
# Here we sort the index:
network_EU_net = network_EU_net.sort_index(axis=0)
network_EU_net

,gauge_id,gauge_name,river,lon,lat,lon_r,lat_r,area_r,elevation,country,area_c,area_flag,area_perc,start_date,end_date,num_daily_obs,num_monthly,num_yearly,num_days_gaps,num_continuous_days
basin_id,,,,,,,,,,,,,,,,,,,,
AT00001,200014,Bangs,Rhein,9.534835,47.273748,9.534835,47.273748,4647.9,420,AT,4668.379,0,-0.440608,1996-01-01,2019-12-31,8766,288,24,0.0,8766
AT00002,200048,Schruns (Vonbunweg),Litz,9.913677,47.080301,9.913677,47.080301,102.0,673,AT,102.287,0,-0.281373,1958-10-01,2019-12-31,22372,735,62,0.0,22372
AT00003,231662,Loruens-Aeule,Ill,9.847765,47.132821,9.847765,47.132821,535.2,579,AT,536.299,0,-0.205344,1985-01-02,2019-12-31,12782,420,35,0.0,12782
AT00004,200592,Kloesterle (OEBB),Alfenz,10.061843,47.128994,10.061843,47.128994,66.6,1014,AT,66.286,0,0.471471,1998-01-02,2019-12-31,8034,264,22,0.0,8034
AT00005,200097,Buers (Bruecke L82),Alvier,9.802668,47.150770,9.802668,47.150770,72.2,564,AT,72.448,0,-0.343490,1990-01-01,2019-12-31,10957,360,30,0.0,10957
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
UAGR017,6682300,BASHTANOVKA,KACHA,33.894739,44.691884,33.900000,44.683333,321.0,NaN,UA,325.370,0,-1.361371,1978-01-01,1987-12-31,3652,120,10,0.0,3652
UAGR018,6682500,YALTA,DERE-KIOY,34.166667,44.500000,34.166667,44.500000,49.7,16,UA,47.594,0,4.237425,1978-01-01,1987-12-31,3652,120,10,0.0,3652
UAGR019,6683010,PIONERSKOE,SALHYR,34.199841,44.887685,34.200000,44.883333,261.0,307,UA,244.731,1,6.233333,1978-01-01,1987-12-31,3652,120,10,0.0,3652
UAGR020,6683200,TOKMAK,TOKMAK,35.705833,47.251389,35.705833,47.251389,760.0,NaN,UA,731.073,0,3.806184,1978-01-01,1987-12-31,3652,120,10,0.0,3652
UAGR021,6683300,NOVOSELOVKA,KRYNKA,38.144722,48.153333,38.144722,48.153333,582.0,118,UA,599.600,0,-3.024055,1978-01-01,1987-12-31,3652,120,10,0.0,3652

In [42]:
network_EU_net.columns

Index(['gauge_id', 'gauge_name ', 'river', 'lon', 'lat', 'lon_r', 'lat_r',
       'area_r', 'elevation', 'country', 'area_c', 'area_flag', 'area_perc',
       'start_date', 'end_date', 'num_daily_obs', 'num_monthly', 'num_yearly',
       'num_days_gaps', 'num_continuous_days'],
      dtype='object')

In [43]:
network_EU_net.columns = ['gauge_id', 'gauge_name ', 'river', 'lon', 'lat', 'lon_r', 'lat_r',
                          'area_r', 'elevation', 'gauge_country', 'area_c', 'area_flag', 'area_perc',
                          'start_date', 'end_date', 'num_days', 'num_months', 'num_years',
                          'num_days_gaps', 'num_continuous_days']

network_EU_net = network_EU_net[['gauge_id', 'gauge_name ', 'gauge_country', 'river', 'lon', 'lat', 'lon_r', 'lat_r',
                          'area_r', 'elevation', 'area_c', 'area_flag', 'area_perc',
                          'start_date', 'end_date', 'num_years', 'num_months', 'num_days',
                          'num_days_gaps', 'num_continuous_days']]

network_EU_net

,gauge_id,gauge_name,gauge_country,river,lon,lat,lon_r,lat_r,area_r,elevation,area_c,area_flag,area_perc,start_date,end_date,num_years,num_months,num_days,num_days_gaps,num_continuous_days
basin_id,,,,,,,,,,,,,,,,,,,,
AT00001,200014,Bangs,AT,Rhein,9.534835,47.273748,9.534835,47.273748,4647.9,420,4668.379,0,-0.440608,1996-01-01,2019-12-31,24,288,8766,0.0,8766
AT00002,200048,Schruns (Vonbunweg),AT,Litz,9.913677,47.080301,9.913677,47.080301,102.0,673,102.287,0,-0.281373,1958-10-01,2019-12-31,62,735,22372,0.0,22372
AT00003,231662,Loruens-Aeule,AT,Ill,9.847765,47.132821,9.847765,47.132821,535.2,579,536.299,0,-0.205344,1985-01-02,2019-12-31,35,420,12782,0.0,12782
AT00004,200592,Kloesterle (OEBB),AT,Alfenz,10.061843,47.128994,10.061843,47.128994,66.6,1014,66.286,0,0.471471,1998-01-02,2019-12-31,22,264,8034,0.0,8034
AT00005,200097,Buers (Bruecke L82),AT,Alvier,9.802668,47.150770,9.802668,47.150770,72.2,564,72.448,0,-0.343490,1990-01-01,2019-12-31,30,360,10957,0.0,10957
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
UAGR017,6682300,BASHTANOVKA,UA,KACHA,33.894739,44.691884,33.900000,44.683333,321.0,NaN,325.370,0,-1.361371,1978-01-01,1987-12-31,10,120,3652,0.0,3652
UAGR018,6682500,YALTA,UA,DERE-KIOY,34.166667,44.500000,34.166667,44.500000,49.7,16,47.594,0,4.237425,1978-01-01,1987-12-31,10,120,3652,0.0,3652
UAGR019,6683010,PIONERSKOE,UA,SALHYR,34.199841,44.887685,34.200000,44.883333,261.0,307,244.731,1,6.233333,1978-01-01,1987-12-31,10,120,3652,0.0,3652
UAGR020,6683200,TOKMAK,UA,TOKMAK,35.705833,47.251389,35.705833,47.251389,760.0,NaN,731.073,0,3.806184,1978-01-01,1987-12-31,10,120,3652,0.0,3652
UAGR021,6683300,NOVOSELOVKA,UA,KRYNKA,38.144722,48.153333,38.144722,48.153333,582.0,118,599.600,0,-3.024055,1978-01-01,1987-12-31,10,120,3652,0.0,3652

## New codes' definition:

In [44]:
# Adjust of the German names (inclusion of the region)
network_EU_net["region"] = network_EU.set_index("new_code", inplace = False)["region"]
network_EU_net[network_EU_net.gauge_country == "DE"]

,gauge_id,gauge_name,gauge_country,river,lon,lat,lon_r,lat_r,area_r,elevation,...,area_flag,area_perc,start_date,end_date,num_years,num_months,num_days,num_days_gaps,num_continuous_days,region
basin_id,,,,,,,,,,,,,,,,,,,,,
DE00001,5891200,"Alt Ruppin, Schleuse OP",DE,Rhin,12.835157,52.959469,12.835157,52.959469,534.785653,NaN,...,3,-134.602591,1980-11-01,2023-09-25,44,515,15669,0.0,15669,BB
DE00002,5871600,Babelsberg-Drewitz,DE,Nuthe,13.116304,52.362773,13.116304,52.362773,1768.326729,NaN,...,0,-1.485940,1954-11-01,2023-09-24,70,827,25160,5.0,25124,BB
DE00003,5530500,Bad Liebenwerda,DE,Schwarze Elster,13.394420,51.519043,13.394420,51.519043,3137.028384,NaN,...,3,26.821510,1960-11-01,2023-09-18,64,755,22967,0.0,22967,BB
DE00004,5930500,Bad Wilsnack,DE,Karthane,11.937284,52.956437,11.937284,52.956437,284.617208,NaN,...,0,-1.609808,1975-11-01,2023-09-24,47,539,16399,1096.0,14938,BB
DE00005,5825500,"Beeskow, Spreeschleuse UP",DE,Spree,14.254694,52.171976,14.254694,52.171976,5565.936643,NaN,...,0,3.436989,1950-03-02,2023-09-19,74,883,26865,0.0,26865,BB
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
DE02106,5752400000,Hachelbich,DE,Wipper,10.973000,51.347000,10.973000,51.347000,524.000000,NaN,...,0,0.000000,1961-11-01,2021-12-31,61,722,21976,0.0,21976,TH
DE02107,5752500000,Bleicherode,DE,Bode,10.593000,51.450000,10.593000,51.450000,104.000000,NaN,...,0,0.000000,1951-11-01,2021-12-31,71,842,25629,0.0,25629,TH
DE02108,5754000000,Sundhausen,DE,Helme,10.810000,51.468000,10.810000,51.468000,200.600000,NaN,...,0,0.299103,1957-11-01,2021-12-31,65,770,23437,0.0,23437,TH
DE02109,5755000000,Nordhausen,DE,Zorge,10.784000,51.507000,10.784000,51.507000,303.600000,NaN,...,0,0.527009,1953-11-01,2021-12-31,69,818,24891,7.0,24650,TH
DE02110,5756600000,Ilfeld,DE,Bere,10.786000,51.598000,10.786000,51.598000,62.300000,NaN,...,0,-1.123596,1951-11-01,2021-12-31,71,842,25629,0.0,25629,TH

In [45]:
#create a old code column
network_EU_net['old_code'] = network_EU_net.index

# Extract the first four digits from the 'old_code' column
network_EU_net['first_four_digits'] = network_EU_net['old_code'].str.extract('([A-Za-z]{1,4})')

# Add zeros to ensure a total length of 4 characters
network_EU_net['first_four_digits'] = network_EU_net['first_four_digits'].apply(lambda x: x.ljust(4, '0'))

# Extract the numeric part from the 'code' column
network_EU_net['numeric_part'] = network_EU_net.old_code.str.extract('(\d+)')

# Convert 'numeric_part' to a 4-digit string with leading zeros
network_EU_net['numeric_part'] = network_EU_net['numeric_part'].apply(lambda x: f"{int(x):04d}")

## Create a new column 'new_code' by concatenating 'region' and 'numeric_part'
network_EU_net['new_code'] = network_EU_net['first_four_digits'] + network_EU_net['numeric_part']

network_EU_net

,gauge_id,gauge_name,gauge_country,river,lon,lat,lon_r,lat_r,area_r,elevation,...,num_years,num_months,num_days,num_days_gaps,num_continuous_days,region,old_code,first_four_digits,numeric_part,new_code
basin_id,,,,,,,,,,,,,,,,,,,,,
AT00001,200014,Bangs,AT,Rhein,9.534835,47.273748,9.534835,47.273748,4647.9,420,...,24,288,8766,0.0,8766,NaN,AT00001,AT00,0001,AT000001
AT00002,200048,Schruns (Vonbunweg),AT,Litz,9.913677,47.080301,9.913677,47.080301,102.0,673,...,62,735,22372,0.0,22372,NaN,AT00002,AT00,0002,AT000002
AT00003,231662,Loruens-Aeule,AT,Ill,9.847765,47.132821,9.847765,47.132821,535.2,579,...,35,420,12782,0.0,12782,NaN,AT00003,AT00,0003,AT000003
AT00004,200592,Kloesterle (OEBB),AT,Alfenz,10.061843,47.128994,10.061843,47.128994,66.6,1014,...,22,264,8034,0.0,8034,NaN,AT00004,AT00,0004,AT000004
AT00005,200097,Buers (Bruecke L82),AT,Alvier,9.802668,47.150770,9.802668,47.150770,72.2,564,...,30,360,10957,0.0,10957,NaN,AT00005,AT00,0005,AT000005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
UAGR017,6682300,BASHTANOVKA,UA,KACHA,33.894739,44.691884,33.900000,44.683333,321.0,NaN,...,10,120,3652,0.0,3652,NaN,UAGR017,UAGR,0017,UAGR0017
UAGR018,6682500,YALTA,UA,DERE-KIOY,34.166667,44.500000,34.166667,44.500000,49.7,16,...,10,120,3652,0.0,3652,NaN,UAGR018,UAGR,0018,UAGR0018
UAGR019,6683010,PIONERSKOE,UA,SALHYR,34.199841,44.887685,34.200000,44.883333,261.0,307,...,10,120,3652,0.0,3652,NaN,UAGR019,UAGR,0019,UAGR0019
UAGR020,6683200,TOKMAK,UA,TOKMAK,35.705833,47.251389,35.705833,47.251389,760.0,NaN,...,10,120,3652,0.0,3652,NaN,UAGR020,UAGR,0020,UAGR0020
UAGR021,6683300,NOVOSELOVKA,UA,KRYNKA,38.144722,48.153333,38.144722,48.153333,582.0,118,...,10,120,3652,0.0,3652,NaN,UAGR021,UAGR,0021,UAGR0021

In [46]:
# Here we can check it:
network_EU_net[network_EU_net.gauge_country == "IT"]

,gauge_id,gauge_name,gauge_country,river,lon,lat,lon_r,lat_r,area_r,elevation,...,num_years,num_months,num_days,num_days_gaps,num_continuous_days,region,old_code,first_four_digits,numeric_part,new_code
basin_id,,,,,,,,,,,,,,,,,,,,,
ITABR441,Aterno a Molina,Aterno a Molina,IT,Aterno,13.753056,42.137222,13.753056,42.137222,1303.0,454,...,10,114,3454,8.0,1954,NaN,ITABR441,ITAB,0441,ITAB0441
ITABR442,Aterno a Tre Ponti,Aterno a Tre Ponti,IT,Aterno,13.258056,42.476389,13.258056,42.476389,114.0,774,...,10,113,3250,212.0,620,NaN,ITABR442,ITAB,0442,ITAB0442
ITABR443,Feltrino a San Vito,Feltrino a San Vito,IT,Feltrino,14.439444,42.296389,14.439444,42.296389,50.0,24,...,10,114,3411,51.0,937,NaN,ITABR443,ITAB,0443,ITAB0443
ITABR444,Pescara a Maraone,Pescara a Maraone,IT,Pescara,13.838611,42.180000,13.838611,42.180000,2003.0,246,...,10,114,3455,7.0,1723,NaN,ITABR444,ITAB,0444,ITAB0444
ITABR445,Sagittario a Capo Canale,Sagittario a Capo Canale,IT,Sagittario,13.866389,42.123333,13.866389,42.123333,599.0,275,...,10,114,3456,6.0,2189,NaN,ITABR445,ITAB,0445,ITAB0445
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ITVEN436,271VE,Piave a Belluno Ponte Vittoria,IT,Piave,12.218586,46.134222,12.218586,46.134222,NaN,NaN,...,3,30,826,134.0,422,NaN,ITVEN436,ITVE,0436,ITVE0436
ITVEN437,277VE,Cordevole a Ponte Mas,IT,Cordevole,12.125220,46.154313,12.125220,46.154313,696.0,360.75,...,21,213,6032,1308.0,2121,NaN,ITVEN437,ITVE,0437,ITVE0437
ITVEN438,327VE,Piave a Segusino,IT,Piave,11.948837,45.922490,11.948837,45.922490,3469.0,177.39,...,19,216,6284,656.0,2041,NaN,ITVEN438,ITVE,0438,ITVE0438
ITVEN439,374VE,Brenta a Enego,IT,Brenta,11.715000,45.954413,11.715000,45.954413,646.0,NaN,...,18,204,6062,171.0,2384,NaN,ITVEN439,ITVE,0439,ITVE0439
ITVEN440,557VE,Piave a Belluno unificata,IT,Piave,12.228124,46.127896,12.228124,46.127896,1980.0,329.29,...,5,54,1615,2.0,1614,NaN,ITVEN440,ITVE,0440,ITVE0440

* ### Germany

In [47]:
# Subset only germany
network_EU_net_DE = network_EU_net[network_EU_net.gauge_country == "DE"]

# Extract the numeric part from the 'code' column
network_EU_net_DE['numeric_part'] = network_EU_net_DE.old_code.str.extract('(\d+)')

# Convert 'numeric_part' to a 4-digit string with leading zeros
network_EU_net_DE['numeric_part'] = network_EU_net_DE['numeric_part'].apply(lambda x: f"{int(x):04d}")

## Create a new column 'new_code' by concatenating 'region' and 'numeric_part'
network_EU_net_DE['new_code'] = "DE" + network_EU_net_DE['region'] + network_EU_net_DE['numeric_part']

network_EU_net_DE

,gauge_id,gauge_name,gauge_country,river,lon,lat,lon_r,lat_r,area_r,elevation,...,num_years,num_months,num_days,num_days_gaps,num_continuous_days,region,old_code,first_four_digits,numeric_part,new_code
basin_id,,,,,,,,,,,,,,,,,,,,,
DE00001,5891200,"Alt Ruppin, Schleuse OP",DE,Rhin,12.835157,52.959469,12.835157,52.959469,534.785653,NaN,...,44,515,15669,0.0,15669,BB,DE00001,DE00,0001,DEBB0001
DE00002,5871600,Babelsberg-Drewitz,DE,Nuthe,13.116304,52.362773,13.116304,52.362773,1768.326729,NaN,...,70,827,25160,5.0,25124,BB,DE00002,DE00,0002,DEBB0002
DE00003,5530500,Bad Liebenwerda,DE,Schwarze Elster,13.394420,51.519043,13.394420,51.519043,3137.028384,NaN,...,64,755,22967,0.0,22967,BB,DE00003,DE00,0003,DEBB0003
DE00004,5930500,Bad Wilsnack,DE,Karthane,11.937284,52.956437,11.937284,52.956437,284.617208,NaN,...,47,539,16399,1096.0,14938,BB,DE00004,DE00,0004,DEBB0004
DE00005,5825500,"Beeskow, Spreeschleuse UP",DE,Spree,14.254694,52.171976,14.254694,52.171976,5565.936643,NaN,...,74,883,26865,0.0,26865,BB,DE00005,DE00,0005,DEBB0005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
DE02106,5752400000,Hachelbich,DE,Wipper,10.973000,51.347000,10.973000,51.347000,524.000000,NaN,...,61,722,21976,0.0,21976,TH,DE02106,DE00,2106,DETH2106
DE02107,5752500000,Bleicherode,DE,Bode,10.593000,51.450000,10.593000,51.450000,104.000000,NaN,...,71,842,25629,0.0,25629,TH,DE02107,DE00,2107,DETH2107
DE02108,5754000000,Sundhausen,DE,Helme,10.810000,51.468000,10.810000,51.468000,200.600000,NaN,...,65,770,23437,0.0,23437,TH,DE02108,DE00,2108,DETH2108
DE02109,5755000000,Nordhausen,DE,Zorge,10.784000,51.507000,10.784000,51.507000,303.600000,NaN,...,69,818,24891,7.0,24650,TH,DE02109,DE00,2109,DETH2109
DE02110,5756600000,Ilfeld,DE,Bere,10.786000,51.598000,10.786000,51.598000,62.300000,NaN,...,71,842,25629,0.0,25629,TH,DE02110,DE00,2110,DETH2110

In [48]:
# here we replace only for Germany and check the results:
network_EU_net.loc[network_EU_net_DE.index, "new_code"] = network_EU_net_DE['new_code']
network_EU_net[network_EU_net.gauge_country == "DE"]

,gauge_id,gauge_name,gauge_country,river,lon,lat,lon_r,lat_r,area_r,elevation,...,num_years,num_months,num_days,num_days_gaps,num_continuous_days,region,old_code,first_four_digits,numeric_part,new_code
basin_id,,,,,,,,,,,,,,,,,,,,,
DE00001,5891200,"Alt Ruppin, Schleuse OP",DE,Rhin,12.835157,52.959469,12.835157,52.959469,534.785653,NaN,...,44,515,15669,0.0,15669,BB,DE00001,DE00,0001,DEBB0001
DE00002,5871600,Babelsberg-Drewitz,DE,Nuthe,13.116304,52.362773,13.116304,52.362773,1768.326729,NaN,...,70,827,25160,5.0,25124,BB,DE00002,DE00,0002,DEBB0002
DE00003,5530500,Bad Liebenwerda,DE,Schwarze Elster,13.394420,51.519043,13.394420,51.519043,3137.028384,NaN,...,64,755,22967,0.0,22967,BB,DE00003,DE00,0003,DEBB0003
DE00004,5930500,Bad Wilsnack,DE,Karthane,11.937284,52.956437,11.937284,52.956437,284.617208,NaN,...,47,539,16399,1096.0,14938,BB,DE00004,DE00,0004,DEBB0004
DE00005,5825500,"Beeskow, Spreeschleuse UP",DE,Spree,14.254694,52.171976,14.254694,52.171976,5565.936643,NaN,...,74,883,26865,0.0,26865,BB,DE00005,DE00,0005,DEBB0005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
DE02106,5752400000,Hachelbich,DE,Wipper,10.973000,51.347000,10.973000,51.347000,524.000000,NaN,...,61,722,21976,0.0,21976,TH,DE02106,DE00,2106,DETH2106
DE02107,5752500000,Bleicherode,DE,Bode,10.593000,51.450000,10.593000,51.450000,104.000000,NaN,...,71,842,25629,0.0,25629,TH,DE02107,DE00,2107,DETH2107
DE02108,5754000000,Sundhausen,DE,Helme,10.810000,51.468000,10.810000,51.468000,200.600000,NaN,...,65,770,23437,0.0,23437,TH,DE02108,DE00,2108,DETH2108
DE02109,5755000000,Nordhausen,DE,Zorge,10.784000,51.507000,10.784000,51.507000,303.600000,NaN,...,69,818,24891,7.0,24650,TH,DE02109,DE00,2109,DETH2109
DE02110,5756600000,Ilfeld,DE,Bere,10.786000,51.598000,10.786000,51.598000,62.300000,NaN,...,71,842,25629,0.0,25629,TH,DE02110,DE00,2110,DETH2110

* ### Belgium

In [49]:
# Subset only Belgium
network_EU_net_BE = network_EU_net[network_EU_net.gauge_country == "BE"]

## Create a new column 'new_code' by concatenating 'region' and 'numeric_part'
network_EU_net_BE['new_code'] = "BE" + network_EU_net_BE['region'] + network_EU_net_BE['numeric_part']

network_EU_net_BE

,gauge_id,gauge_name,gauge_country,river,lon,lat,lon_r,lat_r,area_r,elevation,...,num_years,num_months,num_days,num_days_gaps,num_continuous_days,region,old_code,first_four_digits,numeric_part,new_code
basin_id,,,,,,,,,,,,,,,,,,,,,
BE00001,10461002,Bierges,BE,Dyle,4.606129,50.710583,4.606129,50.710583,310.0,NaN,...,47,564,17162,5.0,15955,WA,BE00001,BE00,0001,BEWA0001
BE00002,19511002,Tubize,BE,Senne,4.196446,50.690256,4.196446,50.690256,215.0,NaN,...,24,288,8766,0.0,8766,WA,BE00002,BE00,0002,BEWA0002
BE00003,23711002,Ronquieres,BE,Samme,4.224809,50.605923,4.224809,50.605923,135.0,NaN,...,33,396,12053,0.0,12053,WA,BE00003,BE00,0003,BEWA0003
BE00004,29521002,Irchonwelz,BE,DendreOrientale,3.751661,50.618903,3.751661,50.618903,126.0,NaN,...,44,528,16071,0.0,16071,WA,BE00004,BE00,0004,BEWA0004
BE00005,29711002,Ath,BE,DendreOrientale,3.777834,50.633521,3.777834,50.633521,229.0,NaN,...,45,540,16436,0.0,16436,WA,BE00005,BE00,0005,BEWA0005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
BE00226,01L07_287,Ternat,BE,Steenvoordebeek,4.176000,50.876000,4.176000,50.876000,NaN,NaN,...,40,454,13456,1314.0,3758,VL,BE00226,BE00,0226,BEVL0226
BE00227,01L07_289,Viane,BE,Mark,3.892000,50.741000,3.892000,50.741000,NaN,NaN,...,48,556,16430,700.0,1905,VL,BE00227,BE00,0227,BEVL0227
BE00228,01L01_493,Vlamertinge,BE,Grote Kemmelbeek,2.811000,50.844000,2.811000,50.844000,NaN,NaN,...,41,475,13350,2416.0,9860,VL,BE00228,BE00,0228,BEVL0228
BE00229,01LS09_165,Wellen,BE,Herk,5.326000,50.850000,5.326000,50.850000,NaN,NaN,...,52,593,17571,1291.0,3603,VL,BE00229,BE00,0229,BEVL0229
BE00230,01L09_143,Wezemaal,BE,Grote Losting,4.744000,50.943000,4.744000,50.943000,NaN,NaN,...,38,443,13263,261.0,2036,VL,BE00230,BE00,0230,BEVL0230

In [50]:
# here we replace only for Germany and check the results:
network_EU_net.loc[network_EU_net_BE.index, "new_code"] = network_EU_net_BE['new_code']
network_EU_net[network_EU_net.gauge_country == "BE"]

,gauge_id,gauge_name,gauge_country,river,lon,lat,lon_r,lat_r,area_r,elevation,...,num_years,num_months,num_days,num_days_gaps,num_continuous_days,region,old_code,first_four_digits,numeric_part,new_code
basin_id,,,,,,,,,,,,,,,,,,,,,
BE00001,10461002,Bierges,BE,Dyle,4.606129,50.710583,4.606129,50.710583,310.0,NaN,...,47,564,17162,5.0,15955,WA,BE00001,BE00,0001,BEWA0001
BE00002,19511002,Tubize,BE,Senne,4.196446,50.690256,4.196446,50.690256,215.0,NaN,...,24,288,8766,0.0,8766,WA,BE00002,BE00,0002,BEWA0002
BE00003,23711002,Ronquieres,BE,Samme,4.224809,50.605923,4.224809,50.605923,135.0,NaN,...,33,396,12053,0.0,12053,WA,BE00003,BE00,0003,BEWA0003
BE00004,29521002,Irchonwelz,BE,DendreOrientale,3.751661,50.618903,3.751661,50.618903,126.0,NaN,...,44,528,16071,0.0,16071,WA,BE00004,BE00,0004,BEWA0004
BE00005,29711002,Ath,BE,DendreOrientale,3.777834,50.633521,3.777834,50.633521,229.0,NaN,...,45,540,16436,0.0,16436,WA,BE00005,BE00,0005,BEWA0005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
BE00226,01L07_287,Ternat,BE,Steenvoordebeek,4.176000,50.876000,4.176000,50.876000,NaN,NaN,...,40,454,13456,1314.0,3758,VL,BE00226,BE00,0226,BEVL0226
BE00227,01L07_289,Viane,BE,Mark,3.892000,50.741000,3.892000,50.741000,NaN,NaN,...,48,556,16430,700.0,1905,VL,BE00227,BE00,0227,BEVL0227
BE00228,01L01_493,Vlamertinge,BE,Grote Kemmelbeek,2.811000,50.844000,2.811000,50.844000,NaN,NaN,...,41,475,13350,2416.0,9860,VL,BE00228,BE00,0228,BEVL0228
BE00229,01LS09_165,Wellen,BE,Herk,5.326000,50.850000,5.326000,50.850000,NaN,NaN,...,52,593,17571,1291.0,3603,VL,BE00229,BE00,0229,BEVL0229
BE00230,01L09_143,Wezemaal,BE,Grote Losting,4.744000,50.943000,4.744000,50.943000,NaN,NaN,...,38,443,13263,261.0,2036,VL,BE00230,BE00,0230,BEVL0230

* ## Final adjusts

In [51]:
network_EU_net.drop(["region", "first_four_digits", "numeric_part"], axis = 1, inplace = True)
network_EU_net

,gauge_id,gauge_name,gauge_country,river,lon,lat,lon_r,lat_r,area_r,elevation,...,area_perc,start_date,end_date,num_years,num_months,num_days,num_days_gaps,num_continuous_days,old_code,new_code
basin_id,,,,,,,,,,,,,,,,,,,,,
AT00001,200014,Bangs,AT,Rhein,9.534835,47.273748,9.534835,47.273748,4647.9,420,...,-0.440608,1996-01-01,2019-12-31,24,288,8766,0.0,8766,AT00001,AT000001
AT00002,200048,Schruns (Vonbunweg),AT,Litz,9.913677,47.080301,9.913677,47.080301,102.0,673,...,-0.281373,1958-10-01,2019-12-31,62,735,22372,0.0,22372,AT00002,AT000002
AT00003,231662,Loruens-Aeule,AT,Ill,9.847765,47.132821,9.847765,47.132821,535.2,579,...,-0.205344,1985-01-02,2019-12-31,35,420,12782,0.0,12782,AT00003,AT000003
AT00004,200592,Kloesterle (OEBB),AT,Alfenz,10.061843,47.128994,10.061843,47.128994,66.6,1014,...,0.471471,1998-01-02,2019-12-31,22,264,8034,0.0,8034,AT00004,AT000004
AT00005,200097,Buers (Bruecke L82),AT,Alvier,9.802668,47.150770,9.802668,47.150770,72.2,564,...,-0.343490,1990-01-01,2019-12-31,30,360,10957,0.0,10957,AT00005,AT000005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
UAGR017,6682300,BASHTANOVKA,UA,KACHA,33.894739,44.691884,33.900000,44.683333,321.0,NaN,...,-1.361371,1978-01-01,1987-12-31,10,120,3652,0.0,3652,UAGR017,UAGR0017
UAGR018,6682500,YALTA,UA,DERE-KIOY,34.166667,44.500000,34.166667,44.500000,49.7,16,...,4.237425,1978-01-01,1987-12-31,10,120,3652,0.0,3652,UAGR018,UAGR0018
UAGR019,6683010,PIONERSKOE,UA,SALHYR,34.199841,44.887685,34.200000,44.883333,261.0,307,...,6.233333,1978-01-01,1987-12-31,10,120,3652,0.0,3652,UAGR019,UAGR0019
UAGR020,6683200,TOKMAK,UA,TOKMAK,35.705833,47.251389,35.705833,47.251389,760.0,NaN,...,3.806184,1978-01-01,1987-12-31,10,120,3652,0.0,3652,UAGR020,UAGR0020
UAGR021,6683300,NOVOSELOVKA,UA,KRYNKA,38.144722,48.153333,38.144722,48.153333,582.0,118,...,-3.024055,1978-01-01,1987-12-31,10,120,3652,0.0,3652,UAGR021,UAGR0021

## Add data provider

In [52]:
# Read the catalogue
estreams_streamflow_catalogue = pd.read_excel("data/streamflow/estreams_streamflow_catalogue.xlsx")
estreams_streamflow_catalogue

,provider_id,code_basins,provider_country,country_code,provider_name,license_redistribution,platform,num_stations,boundaries,source_license,source_streamflow,source_gauges_infos,source_boundaries,references,observations
0,AT_EHYD,AT,AUSTRIA,AU,Hydrographie Oesterreichs (EHYD),-,Website,NaN,Available,NaN,https://ehyd.gv.at/,https://zenodo.org/record/5153305#.ZDUeaOZBwuU,https://zenodo.org/record/5153305#.ZDUeaOZBwuU,NaN,NaN
1,BA_FHMZ,BA,Bosnia and Herzegovina,BO,Federalni Hidrometeoroloski Zavod (FHMZ),-,Website,NaN,Not available,NaN,https://www.fhmzbih.gov.ba/latinica/HIDRO/godi...,https://www.fhmzbih.gov.ba/latinica/HIDRO/godi...,-,NaN,NaN
2,BE_SPW,BEWA,BELGIUM,BE,Service public de Wallonie (SPW),No-redistribution,Website,NaN,Not available,NaN,https://hydrometrie.wallonie.be,https://hydrometrie.wallonie.be,-,NaN,NaN
3,BE_WATERINFO,BEVL,BELGIUM,BE,Vlaanderen waterinfo,Reproduction allowed,Website,NaN,Not available,NaN,https://www.waterinfo.be/kaartencatalogus?KL=en,https://www.waterinfo.be/kaartencatalogus?KL=en,-,NaN,NaN
4,BG_GRDC,BGGR,BULGARIA,BG,Global Runoff Data Center (GRDC),No-redistribution,Website,NaN,Not available,NaN,https://www.bafg.de/GRDC/EN,https://www.bafg.de/GRDC/EN,https://www.bafg.de/GRDC/EN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,SE_SMHI,SE,SWEDEN,SE,Swedish Meteorological and Hydrological Instit...,CC BY 4.0,Website,NaN,Not available,NaN,https://vattenweb.smhi.se/station/#,https://vattenweb.smhi.se/station/#,-,NaN,NaN
66,SI_ARSO,SI,SLOVENIA,SI,Agencija Republike Slovenije za Okolje (ARSO),-,Website,NaN,Not available,NaN,https://vode.arso.gov.si/hidarhiv/,https://vode.arso.gov.si/hidarhiv/,-,NaN,NaN
67,SK_GRDC,SKGR,SLOVAKIA,SK,Global Runoff Data Center (GRDC),No-redistribution,Website,NaN,Not available,NaN,https://www.bafg.de/GRDC/EN,https://www.bafg.de/GRDC/EN,https://www.bafg.de/GRDC/EN,NaN,NaN
68,TR_GRDC,TRGR,TURKEY,TR,Global Runoff Data Center (GRDC),No-redistribution,Website,NaN,Not available,NaN,https://www.bafg.de/GRDC/EN,https://www.bafg.de/GRDC/EN,https://www.bafg.de/GRDC/EN,NaN,NaN
69,UA_GRDC,UAGR,UKRAINE,UA,Global Runoff Data Center (GRDC),No-redistribution,Website,NaN,Not available,NaN,https://www.bafg.de/GRDC/EN,https://www.bafg.de/GRDC/EN,https://www.bafg.de/GRDC/EN,NaN,NaN

In [53]:
# Assign the values for each gauge
network_EU_net["gauge_provider"] = np.nan

for code, provider_id in tqdm(zip(estreams_streamflow_catalogue.code_basins, estreams_streamflow_catalogue.provider_id)):
    network_EU_net_code = network_EU_net[network_EU_net.new_code.str.contains(code, case=False)]
    network_EU_net.loc[network_EU_net_code.index, "gauge_provider"] = provider_id

70it [00:00, 291.11it/s]

In [54]:
network_EU_net

,gauge_id,gauge_name,gauge_country,river,lon,lat,lon_r,lat_r,area_r,elevation,...,start_date,end_date,num_years,num_months,num_days,num_days_gaps,num_continuous_days,old_code,new_code,gauge_provider
basin_id,,,,,,,,,,,,,,,,,,,,,
AT00001,200014,Bangs,AT,Rhein,9.534835,47.273748,9.534835,47.273748,4647.9,420,...,1996-01-01,2019-12-31,24,288,8766,0.0,8766,AT00001,AT000001,AT_EHYD
AT00002,200048,Schruns (Vonbunweg),AT,Litz,9.913677,47.080301,9.913677,47.080301,102.0,673,...,1958-10-01,2019-12-31,62,735,22372,0.0,22372,AT00002,AT000002,AT_EHYD
AT00003,231662,Loruens-Aeule,AT,Ill,9.847765,47.132821,9.847765,47.132821,535.2,579,...,1985-01-02,2019-12-31,35,420,12782,0.0,12782,AT00003,AT000003,AT_EHYD
AT00004,200592,Kloesterle (OEBB),AT,Alfenz,10.061843,47.128994,10.061843,47.128994,66.6,1014,...,1998-01-02,2019-12-31,22,264,8034,0.0,8034,AT00004,AT000004,AT_EHYD
AT00005,200097,Buers (Bruecke L82),AT,Alvier,9.802668,47.150770,9.802668,47.150770,72.2,564,...,1990-01-01,2019-12-31,30,360,10957,0.0,10957,AT00005,AT000005,AT_EHYD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
UAGR017,6682300,BASHTANOVKA,UA,KACHA,33.894739,44.691884,33.900000,44.683333,321.0,NaN,...,1978-01-01,1987-12-31,10,120,3652,0.0,3652,UAGR017,UAGR0017,UA_GRDC
UAGR018,6682500,YALTA,UA,DERE-KIOY,34.166667,44.500000,34.166667,44.500000,49.7,16,...,1978-01-01,1987-12-31,10,120,3652,0.0,3652,UAGR018,UAGR0018,UA_GRDC
UAGR019,6683010,PIONERSKOE,UA,SALHYR,34.199841,44.887685,34.200000,44.883333,261.0,307,...,1978-01-01,1987-12-31,10,120,3652,0.0,3652,UAGR019,UAGR0019,UA_GRDC
UAGR020,6683200,TOKMAK,UA,TOKMAK,35.705833,47.251389,35.705833,47.251389,760.0,NaN,...,1978-01-01,1987-12-31,10,120,3652,0.0,3652,UAGR020,UAGR0020,UA_GRDC
UAGR021,6683300,NOVOSELOVKA,UA,KRYNKA,38.144722,48.153333,38.144722,48.153333,582.0,118,...,1978-01-01,1987-12-31,10,120,3652,0.0,3652,UAGR021,UAGR0021,UA_GRDC

In [55]:
# Check the data
network_EU_net[network_EU_net.gauge_provider.isna()]

Empty DataFrame
Columns: [gauge_id, gauge_name , gauge_country, river, lon, lat, lon_r, lat_r, area_r, elevation, area_c, area_flag, area_perc, start_date, end_date, num_years, num_months, num_days, num_days_gaps, num_continuous_days, old_code, new_code, gauge_provider]
Index: []

[0 rows x 23 columns]

In [56]:
network_EU_net.columns

Index(['gauge_id', 'gauge_name ', 'gauge_country', 'river', 'lon', 'lat',
       'lon_r', 'lat_r', 'area_r', 'elevation', 'area_c', 'area_flag',
       'area_perc', 'start_date', 'end_date', 'num_years', 'num_months',
       'num_days', 'num_days_gaps', 'num_continuous_days', 'old_code',
       'new_code', 'gauge_provider'],
      dtype='object')

## Organize the columns

In [57]:
network_EU_net.columns = ['gauge_id', 'gauge_name ', 'gauge_country', 'river', 'lon_snap', 'lat_snap',
                          'lon', 'lat', 'area', 'elevation', 'area_calc', 'area_flag',
                          'area_perc', 'start_date', 'end_date', 'num_years', 'num_months',
                          'num_days', 'num_days_gaps', 'num_continuous_days', 'old_code', 'new_code', 'gauge_provider']

network_EU_net = network_EU_net[['gauge_id', 'gauge_name ', 'gauge_country', 'gauge_provider', 'river', 'lon_snap',
                                 'lat_snap', 'lon', 'lat', 'area', 'elevation', 
                                 'area_calc', 'area_flag', 'area_perc',
                                 'start_date', 'end_date', 'num_years', 'num_months', 'num_days',
                                 'num_days_gaps', 'num_continuous_days', 'new_code']]

network_EU_net

,gauge_id,gauge_name,gauge_country,gauge_provider,river,lon_snap,lat_snap,lon,lat,area,...,area_flag,area_perc,start_date,end_date,num_years,num_months,num_days,num_days_gaps,num_continuous_days,new_code
basin_id,,,,,,,,,,,,,,,,,,,,,
AT00001,200014,Bangs,AT,AT_EHYD,Rhein,9.534835,47.273748,9.534835,47.273748,4647.9,...,0,-0.440608,1996-01-01,2019-12-31,24,288,8766,0.0,8766,AT000001
AT00002,200048,Schruns (Vonbunweg),AT,AT_EHYD,Litz,9.913677,47.080301,9.913677,47.080301,102.0,...,0,-0.281373,1958-10-01,2019-12-31,62,735,22372,0.0,22372,AT000002
AT00003,231662,Loruens-Aeule,AT,AT_EHYD,Ill,9.847765,47.132821,9.847765,47.132821,535.2,...,0,-0.205344,1985-01-02,2019-12-31,35,420,12782,0.0,12782,AT000003
AT00004,200592,Kloesterle (OEBB),AT,AT_EHYD,Alfenz,10.061843,47.128994,10.061843,47.128994,66.6,...,0,0.471471,1998-01-02,2019-12-31,22,264,8034,0.0,8034,AT000004
AT00005,200097,Buers (Bruecke L82),AT,AT_EHYD,Alvier,9.802668,47.150770,9.802668,47.150770,72.2,...,0,-0.343490,1990-01-01,2019-12-31,30,360,10957,0.0,10957,AT000005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
UAGR017,6682300,BASHTANOVKA,UA,UA_GRDC,KACHA,33.894739,44.691884,33.900000,44.683333,321.0,...,0,-1.361371,1978-01-01,1987-12-31,10,120,3652,0.0,3652,UAGR0017
UAGR018,6682500,YALTA,UA,UA_GRDC,DERE-KIOY,34.166667,44.500000,34.166667,44.500000,49.7,...,0,4.237425,1978-01-01,1987-12-31,10,120,3652,0.0,3652,UAGR0018
UAGR019,6683010,PIONERSKOE,UA,UA_GRDC,SALHYR,34.199841,44.887685,34.200000,44.883333,261.0,...,1,6.233333,1978-01-01,1987-12-31,10,120,3652,0.0,3652,UAGR0019
UAGR020,6683200,TOKMAK,UA,UA_GRDC,TOKMAK,35.705833,47.251389,35.705833,47.251389,760.0,...,0,3.806184,1978-01-01,1987-12-31,10,120,3652,0.0,3652,UAGR0020
UAGR021,6683300,NOVOSELOVKA,UA,UA_GRDC,KRYNKA,38.144722,48.153333,38.144722,48.153333,582.0,...,0,-3.024055,1978-01-01,1987-12-31,10,120,3652,0.0,3652,UAGR0021

In [60]:
# Subset the data for only catchments with valid areas:
timeseries_EU = timeseries_EU.loc[:, catchment_boundaries.index]
network_EU_net = network_EU_net.loc[catchment_boundaries.index, :]
network_EU_net

,gauge_id,gauge_name,gauge_country,gauge_provider,river,lon_snap,lat_snap,lon,lat,area,...,area_flag,area_perc,start_date,end_date,num_years,num_months,num_days,num_days_gaps,num_continuous_days,new_code
id,,,,,,,,,,,,,,,,,,,,,
AT00001,200014,Bangs,AT,AT_EHYD,Rhein,9.534835,47.273748,9.534835,47.273748,4647.9,...,0,-0.440608,1996-01-01,2019-12-31,24,288,8766,0.0,8766,AT000001
AT00002,200048,Schruns (Vonbunweg),AT,AT_EHYD,Litz,9.913677,47.080301,9.913677,47.080301,102.0,...,0,-0.281373,1958-10-01,2019-12-31,62,735,22372,0.0,22372,AT000002
AT00003,231662,Loruens-Aeule,AT,AT_EHYD,Ill,9.847765,47.132821,9.847765,47.132821,535.2,...,0,-0.205344,1985-01-02,2019-12-31,35,420,12782,0.0,12782,AT000003
AT00004,200592,Kloesterle (OEBB),AT,AT_EHYD,Alfenz,10.061843,47.128994,10.061843,47.128994,66.6,...,0,0.471471,1998-01-02,2019-12-31,22,264,8034,0.0,8034,AT000004
AT00005,200097,Buers (Bruecke L82),AT,AT_EHYD,Alvier,9.802668,47.150770,9.802668,47.150770,72.2,...,0,-0.343490,1990-01-01,2019-12-31,30,360,10957,0.0,10957,AT000005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
UAGR017,6682300,BASHTANOVKA,UA,UA_GRDC,KACHA,33.894739,44.691884,33.900000,44.683333,321.0,...,0,-1.361371,1978-01-01,1987-12-31,10,120,3652,0.0,3652,UAGR0017
UAGR018,6682500,YALTA,UA,UA_GRDC,DERE-KIOY,34.166667,44.500000,34.166667,44.500000,49.7,...,0,4.237425,1978-01-01,1987-12-31,10,120,3652,0.0,3652,UAGR0018
UAGR019,6683010,PIONERSKOE,UA,UA_GRDC,SALHYR,34.199841,44.887685,34.200000,44.883333,261.0,...,1,6.233333,1978-01-01,1987-12-31,10,120,3652,0.0,3652,UAGR0019
UAGR020,6683200,TOKMAK,UA,UA_GRDC,TOKMAK,35.705833,47.251389,35.705833,47.251389,760.0,...,0,3.806184,1978-01-01,1987-12-31,10,120,3652,0.0,3652,UAGR0020
UAGR021,6683300,NOVOSELOVKA,UA,UA_GRDC,KRYNKA,38.144722,48.153333,38.144722,48.153333,582.0,...,0,-3.024055,1978-01-01,1987-12-31,10,120,3652,0.0,3652,UAGR0021

In [61]:
# Save the new data:
network_EU_net.to_excel('results/estreams_gauging_stations.xlsx')
#timeseries_EU.to_csv('results/estreams_timeseries_streamflow.csv')

### Table with country's summary in the manuscript
* This code generates Table 1 from the manuscript

In [62]:
network_EU = pd.read_excel("results/estreams_gauging_stations.xlsx")
network_EU

,id,gauge_id,gauge_name,gauge_country,gauge_provider,river,lon_snap,lat_snap,lon,lat,...,area_flag,area_perc,start_date,end_date,num_years,num_months,num_days,num_days_gaps,num_continuous_days,new_code
0,AT00001,200014,Bangs,AT,AT_EHYD,Rhein,9.534835,47.273748,9.534835,47.273748,...,0,-0.440608,1996-01-01,2019-12-31,24,288,8766,0.0,8766,AT000001
1,AT00002,200048,Schruns (Vonbunweg),AT,AT_EHYD,Litz,9.913677,47.080301,9.913677,47.080301,...,0,-0.281373,1958-10-01,2019-12-31,62,735,22372,0.0,22372,AT000002
2,AT00003,231662,Loruens-Aeule,AT,AT_EHYD,Ill,9.847765,47.132821,9.847765,47.132821,...,0,-0.205344,1985-01-02,2019-12-31,35,420,12782,0.0,12782,AT000003
3,AT00004,200592,Kloesterle (OEBB),AT,AT_EHYD,Alfenz,10.061843,47.128994,10.061843,47.128994,...,0,0.471471,1998-01-02,2019-12-31,22,264,8034,0.0,8034,AT000004
4,AT00005,200097,Buers (Bruecke L82),AT,AT_EHYD,Alvier,9.802668,47.150770,9.802668,47.150770,...,0,-0.343490,1990-01-01,2019-12-31,30,360,10957,0.0,10957,AT000005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15009,UAGR017,6682300,BASHTANOVKA,UA,UA_GRDC,KACHA,33.894739,44.691884,33.900000,44.683333,...,0,-1.361371,1978-01-01,1987-12-31,10,120,3652,0.0,3652,UAGR0017
15010,UAGR018,6682500,YALTA,UA,UA_GRDC,DERE-KIOY,34.166667,44.500000,34.166667,44.500000,...,0,4.237425,1978-01-01,1987-12-31,10,120,3652,0.0,3652,UAGR0018
15011,UAGR019,6683010,PIONERSKOE,UA,UA_GRDC,SALHYR,34.199841,44.887685,34.200000,44.883333,...,1,6.233333,1978-01-01,1987-12-31,10,120,3652,0.0,3652,UAGR0019
15012,UAGR020,6683200,TOKMAK,UA,UA_GRDC,TOKMAK,35.705833,47.251389,35.705833,47.251389,...,0,3.806184,1978-01-01,1987-12-31,10,120,3652,0.0,3652,UAGR0020
15013,UAGR021,6683300,NOVOSELOVKA,UA,UA_GRDC,KRYNKA,38.144722,48.153333,38.144722,48.153333,...,0,-3.024055,1978-01-01,1987-12-31,10,120,3652,0.0,3652,UAGR0021

In [63]:
network_EU[network_EU.gauge_country == "DE"]

,id,gauge_id,gauge_name,gauge_country,gauge_provider,river,lon_snap,lat_snap,lon,lat,...,area_flag,area_perc,start_date,end_date,num_years,num_months,num_days,num_days_gaps,num_continuous_days,new_code
1840,DE00001,5891200,"Alt Ruppin, Schleuse OP",DE,DE_BB,Rhin,12.835157,52.959469,12.835157,52.959469,...,3,-134.602591,1980-11-01,2023-09-25,44,515,15669,0.0,15669,DEBB0001
1841,DE00002,5871600,Babelsberg-Drewitz,DE,DE_BB,Nuthe,13.116304,52.362773,13.116304,52.362773,...,0,-1.485940,1954-11-01,2023-09-24,70,827,25160,5.0,25124,DEBB0002
1842,DE00003,5530500,Bad Liebenwerda,DE,DE_BB,Schwarze Elster,13.394420,51.519043,13.394420,51.519043,...,3,26.821510,1960-11-01,2023-09-18,64,755,22967,0.0,22967,DEBB0003
1843,DE00004,5930500,Bad Wilsnack,DE,DE_BB,Karthane,11.937284,52.956437,11.937284,52.956437,...,0,-1.609808,1975-11-01,2023-09-24,47,539,16399,1096.0,14938,DEBB0004
1844,DE00005,5825500,"Beeskow, Spreeschleuse UP",DE,DE_BB,Spree,14.254694,52.171976,14.254694,52.171976,...,0,3.436989,1950-03-02,2023-09-19,74,883,26865,0.0,26865,DEBB0005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3928,DE02106,5752400000,Hachelbich,DE,DE_TH,Wipper,10.973000,51.347000,10.973000,51.347000,...,0,0.000000,1961-11-01,2021-12-31,61,722,21976,0.0,21976,DETH2106
3929,DE02107,5752500000,Bleicherode,DE,DE_TH,Bode,10.593000,51.450000,10.593000,51.450000,...,0,0.000000,1951-11-01,2021-12-31,71,842,25629,0.0,25629,DETH2107
3930,DE02108,5754000000,Sundhausen,DE,DE_TH,Helme,10.810000,51.468000,10.810000,51.468000,...,0,0.299103,1957-11-01,2021-12-31,65,770,23437,0.0,23437,DETH2108
3931,DE02109,5755000000,Nordhausen,DE,DE_TH,Zorge,10.784000,51.507000,10.784000,51.507000,...,0,0.527009,1953-11-01,2021-12-31,69,818,24891,7.0,24650,DETH2109
3932,DE02110,5756600000,Ilfeld,DE,DE_TH,Bere,10.786000,51.598000,10.786000,51.598000,...,0,-1.123596,1951-11-01,2021-12-31,71,842,25629,0.0,25629,DETH2110

In [64]:
grouped_countries = network_EU.groupby('gauge_provider').count()
network_EU.count()

id                     15014
gauge_id               15013
gauge_name             14646
gauge_country          15014
gauge_provider         15014
river                  14599
lon_snap               15014
lat_snap               15014
lon                    15014
lat                    15014
area                   13899
elevation               8795
area_calc              15014
area_flag              15014
area_perc              13898
start_date             13916
end_date               13916
num_years              15014
num_months             15014
num_days               15014
num_days_gaps          13916
num_continuous_days    15014
new_code               15014
dtype: int64

In [83]:
# Load the world shapefile dataset provided by GeoPandas
world = gpd.read_file(gpd.datasets.get_path('naturalearth_lowres'))


# Compute the areas of countries and add them as a new column
world['area_sqkm'] = world['geometry'].to_crs({'proj': 'cea'}).area / 10**6  # Convert to square kilometers


# Display the first few rows of the dataset
europe = world[world.continent == "Europe"]

europe

,pop_est,continent,name,iso_a3,gdp_md_est,geometry,area_sqkm
18,142257519,Europe,Russia,RUS,3745000.0,"MULTIPOLYGON (((178.72530 71.09880, 180.00000 ...",1.702059e+07
21,5320045,Europe,Norway,-99,364700.0,"MULTIPOLYGON (((15.14282 79.67431, 15.52255 80...",3.972363e+05
43,67106161,Europe,France,-99,2699000.0,"MULTIPOLYGON (((-51.65780 4.15623, -52.24934 3...",6.448677e+05
110,9960487,Europe,Sweden,SWE,498100.0,"POLYGON ((11.02737 58.85615, 11.46827 59.43239...",4.507119e+05
111,9549747,Europe,Belarus,BLR,165400.0,"POLYGON ((28.17671 56.16913, 29.22951 55.91834...",2.089318e+05
112,44033874,Europe,Ukraine,UKR,352600.0,"POLYGON ((31.78599 52.10168, 32.15944 52.06125...",5.725398e+05
113,38476269,Europe,Poland,POL,1052000.0,"POLYGON ((23.48413 53.91250, 23.52754 53.47012...",3.103561e+05
114,8754413,Europe,Austria,AUT,416600.0,"POLYGON ((16.97967 48.12350, 16.90375 47.71487...",8.508349e+04
115,9850845,Europe,Hungary,HUN,267600.0,"POLYGON ((22.08561 48.42226, 22.64082 48.15024...",9.249455e+04
116,3474121,Europe,Moldova,MDA,18540.0,"POLYGON ((26.61934 48.22073, 26.85782 48.36821...",3.232595e+04
117,21529967,Europe,Romania,ROU,441000.0,"POLYGON ((28.23355 45.48828, 28.67978 45.30403...",2.383786e+05
118,2823859,Europe,Lithuania,LTU,85620.0,"POLYGON ((26.49433 55.61511, 26.58828 55.16718...",6.382005e+04
119,1944643,Europe,Latvia,LVA,50650.0,"POLYGON ((27.28818 57.47453, 27.77002 57.24426...",6.392072e+04
120,1251581,Europe,Estonia,EST,38700.0,"POLYGON ((27.98113 59.47537, 27.98112 59.47537...",4.466772e+04
121,80594017,Europe,Germany,DEU,3979000.0,"POLYGON ((14.11969 53.75703, 14.35332 53.24817...",3.573990e+05
122,7101510,Europe,Bulgaria,BGR,143100.0,"POLYGON ((22.65715 44.23492, 22.94483 43.82379...",1.102147e+05
123,10768477,Europe,Greece,GRC,290500.0,"MULTIPOLYGON (((26.29000 35.29999, 26.16500 35...",1.319931e+05
125,3047987,Europe,Albania,ALB,33900.0,"POLYGON ((21.02004 40.84273, 20.99999 40.58000...",2.969513e+04
126,4292095,Europe,Croatia,HRV,94240.0,"POLYGON ((16.56481 46.50375, 16.88252 46.38063...",5.755030e+04
127,8236303,Europe,Switzerland,CHE,496300.0,"POLYGON ((9.59423 47.52506, 9.63293 47.34760, ...",4.617167e+04
128,594130,Europe,Luxembourg,LUX,58740.0,"POLYGON ((6.04307 50.12805, 6.24275 49.90223, ...",2.415601e+03
129,11491346,Europe,Belgium,BEL,508600.0,"POLYGON ((6.15666 50.80372, 6.04307 50.12805, ...",3.013410e+04
130,17084719,Europe,Netherlands,NLD,870800.0,"POLYGON ((6.90514 53.48216, 7.09205 53.14404, ...",3.993060e+04
131,10839514,Europe,Portugal,PRT,297100.0,"POLYGON ((-9.03482 41.88057, -8.67195 42.13469...",9.340048e+04
132,48958159,Europe,Spain,ESP,1690000.0,"POLYGON ((-7.45373 37.09779, -7.53711 37.42890...",5.022285e+05
133,5011102,Europe,Ireland,IRL,322000.0,"POLYGON ((-6.19788 53.86757, -6.03299 53.15316...",5.847536e+04
141,62137802,Europe,Italy,ITA,2221000.0,"MULTIPOLYGON (((10.44270 46.89355, 11.04856 46...",3.151160e+05
142,5605948,Europe,Denmark,DNK,264800.0,"MULTIPOLYGON (((9.92191 54.98310, 9.28205 54.8...",4.279200e+04
143,64769452,Europe,United Kingdom,GBR,2788000.0,"MULTIPOLYGON (((-6.19788 53.86757, -6.95373 54...",2.499296e+05
144,339747,Europe,Iceland,ISL,16150.0,"POLYGON ((-14.50870 66.45589, -14.73964 65.808...",1.078850e+05
150,1972126,Europe,Slovenia,SVN,68350.0,"POLYGON ((13.80648 46.50931, 14.63247 46.43182...",1.911759e+04
151,5491218,Europe,Finland,FIN,224137.0,"POLYGON ((28.59193 69.06478, 28.44594 68.36461...",3.412621e+05
152,5445829,Europe,Slovakia,SVK,168800.0,"POLYGON ((22.55814 49.08574, 22.28084 48.82539...",4.706978e+04
153,10674723,Europe,Czechia,CZE,350900.0,"POLYGON ((15.01700 51.10667, 15.49097 50.78473...",8.120957e+04
170,3856181,Europe,Bosnia and Herz.,BIH,42530.0,"POLYGON ((18.56000 42.65000, 17.67492 43.02856...",5.061695e+04
171,2103721,Europe,Macedonia,MKD,29520.0,"POLYGON ((22.38053 42.32026, 22.88137 41.99930...",2.506160e+04
172,7111024,Europe,Serbia,SRB,101800.0,"POLYGON ((18.82982 45.90887, 18.82984 45.90888...",7.637329e+04
173,642550,Europe,Montenegro,MNE,10610.0,"POLYGON ((20.07070 42.58863, 19.80161 42.50009...",1.344636e+04
174,1895250,Europe,Kosovo,-99,18490.0,"POLYGON ((20.59025 41.85541, 20.52295 42.21787...",1.123192e+04

In [85]:
# Create a dictionary manually mapping country codes to country names
country_dict = {
    'AT': 'Austria',
    'BA': 'Bosnia and Herz.',
    'BE': 'Belgium',
    'BG': 'Bulgaria',
    'BY': 'Belarus',
    'CH': 'Switzerland',
    'CY': 'Cyprus',
    'CZ': 'Czechia',
    'DE': 'Germany',
    'DK': 'Denmark',
    'EE': 'Estonia',
    'ES': 'Spain',
    'FI': 'Finland',
    'FR': 'France',
    'GB': 'Great Britain',
    'GR': 'Greece',
    'HR': 'Croatia',
    'HU': 'Hungary',
    'IE': 'Ireland',
    'IS': 'Iceland',
    'IT': 'Italy',
    'LT': 'Lithuania',
    'LU': 'Luxembourg',
    'LV': 'Latvia',
    'MD': 'Moldova',
    'MK': 'Macedonia',
    'NI': 'Northern Ireland',
    'NL': 'Netherlands',
    'NO': 'Norway',
    'PL': 'Poland',
    'PT': 'Portugal',
    'RO': 'Romania',
    'RS': 'Serbia',
    'RU': 'Russia',
    'SE': 'Sweden',
    'SI': 'Slovenia',
    'SK': 'Slovakia',
    'TR': 'Turkey',
    'UA': 'Ukraine'    
}

In [120]:
grouped_countries = network_EU.groupby('gauge_country').count()
grouped_countries = pd.DataFrame(grouped_countries.iloc[:,0])

grouped_countries.columns = ["Number of stations"]
grouped_countries["Code"] = grouped_countries.index

# Assign country names based on country codes
grouped_countries['Country'] = grouped_countries['Code'].map(country_dict)
grouped_countries.reset_index(inplace = True, drop = True)
grouped_countries.set_index("Country", inplace = True)
grouped_countries["Area km2"] = world.set_index("name", inplace = False).area_sqkm

grouped_countries.loc["Great Britain", "Area km2"] = 209331
grouped_countries.loc["Northern Ireland", "Area km2"] = 14130

grouped_countries = grouped_countries[["Code", "Number of stations", "Area km2"]]

grouped_countries.reset_index(inplace = True, drop = False)

grouped_countries.set_index("Code", inplace = True)

# Group by 'gauge_country' and count the number of unique 'gauge_provider' values in each group
grouped_countries["Number of providers"] = network_EU.groupby('gauge_country')['gauge_provider'].nunique()

grouped_countries.reset_index(inplace = True, drop = False)

grouped_countries = grouped_countries[["Country", "Code", "Number of stations", "Number of providers", "Area km2"]]

grouped_countries["Density (stations/100km2)"] = (grouped_countries["Number of stations"] / grouped_countries["Area km2"]) * 100

grouped_countries["Density (stations/100km2)"] = grouped_countries["Density (stations/100km2)"].round(3)
grouped_countries.set_index("Country", inplace = True)

grouped_countries

,Code,Number of stations,Number of providers,Area km2,Density (stations/100km2)
Country,,,,,
Austria,AT,582,1,8.508349e+04,0.684
Bosnia and Herz.,BA,91,1,5.061695e+04,0.180
Belgium,BE,230,2,3.013410e+04,0.763
Bulgaria,BG,8,1,1.102147e+05,0.007
Belarus,BY,51,1,2.089318e+05,0.024
Switzerland,CH,298,1,4.617167e+04,0.645
Cyprus,CY,14,1,6.220762e+03,0.225
Czechia,CZ,566,2,8.120957e+04,0.697
Germany,DE,2093,11,3.573990e+05,0.586
Denmark,DK,1000,1,4.279200e+04,2.337
Estonia,EE,54,1,4.466772e+04,0.121
Spain,ES,1440,1,5.022285e+05,0.287
Finland,FI,669,1,3.412621e+05,0.196
France,FR,3155,1,6.448677e+05,0.489
Great Britain,GB,671,1,2.093310e+05,0.321
Greece,GR,31,3,1.319931e+05,0.023
Croatia,HR,158,1,5.755030e+04,0.275
Hungary,HU,65,2,9.249455e+04,0.070
Ireland,IE,464,2,5.847536e+04,0.793
Iceland,IS,25,1,1.078850e+05,0.023
Italy,IT,767,13,3.151160e+05,0.243
Lithuania,LT,76,1,6.382005e+04,0.119
Luxembourg,LU,19,1,2.415601e+03,0.787
Latvia,LV,61,1,6.392072e+04,0.095
Moldova,MD,2,1,3.232595e+04,0.006
Macedonia,MK,1,1,2.506160e+04,0.004
Northern Ireland,NI,51,1,1.413000e+04,0.361
Netherlands,NL,17,1,3.993060e+04,0.043
Norway,NO,189,1,3.972363e+05,0.048
Poland,PL,1287,1,3.103561e+05,0.415
Portugal,PT,280,1,9.340048e+04,0.300
Romania,RO,18,1,2.383786e+05,0.008
Serbia,RS,6,1,7.637329e+04,0.008
Russia,RU,98,1,1.702059e+07,0.001
Sweden,SE,290,1,4.507119e+05,0.064
Slovenia,SI,117,1,1.911759e+04,0.612
Slovakia,SK,21,1,4.706978e+04,0.045
Turkey,TR,28,1,7.986473e+05,0.004
Ukraine,UA,21,1,5.725398e+05,0.004

In [121]:
# Save the new data:
grouped_countries.to_excel('results/estreams_table_countries_summary.xlsx')

## End